.book{
    width:35%;
    height:10%;
    display:inline-block;
    margin-left:8%;
    margin-top:2%;
    box-shadow: 2px 2px gray;
}
.image{
    float:left;
    width:21%;
    height:50%;
    box-shadow: 3px 3px 3px;
}
.Name{
    margin-left: 5%;
    text-align:left;
    font-size:190%;
    font: normal normal normal 16px/22px Montserrat;
}
.Author,.Genre{
    text-align: left;
    font-size:100%;
    font: normal normal normal 16px/22px Montserrat;
}
.moreinfo{
    float:right;
    margin-top:-18%;
    height:170px;
    width:7%;
    background-color: royalblue;
    border-radius: 10px;

}

